@import "tailwindcss";

:root {
 
  --warm-top: #fef3c7;   
  --warm-mid: #f59e0b;    
  --warm-bottom: #78350f; 
  
  --foreground: #171717;
  --font-serif: "EB Garamond", serif;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  margin: 0;
  padding: 0;

  background: linear-gradient(to bottom, var(--warm-top), var(--warm-mid), var(--warm-bottom));
 
  background-attachment: fixed;
  
  min-height: 100vh;
  font-family: var(--font-serif);
}